.column {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	display:inline-block;
	width: 200px;
	padding: 5px;
	border: solid 1px gray;
}

.tableHeaderColumn {
	display:inline-block;
	font-weight: bold;
	font-size: 23px;
	padding: 10px;
	margin-right: 10px;
	width: 200px;
}

.column_prefix {
	margin-right: 10px;
}

a {
	text-decoration: none;
}

input.input-validation-error,
textarea.input-validation-error,
select.input-validation-error
{
    background: #FEF1EC;
    border: 1px solid #CD0A0A;
}