  <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Feedback System - Colonels Dental First</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="./css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="./css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css"/>
    <link href="./css/style.css" rel="stylesheet" type="text/css"/>
    
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
    <link href="./css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="container-fluid" id="main"></div>


    <!-- Templates -->
    <script type="text/template" id="add-doctor-template">
     <form id="login-form">
          First Name: <input type="text" id="firstname"><br>
          Last Name: <input type="text" id="lastname"><br>
          <button id="add-doctor-button">Add Doctor</button>
      </form>
    </script>
    <script type="text/template" id="add-patient-template">
     <form id="login-form">
          First Name: <input type="text" id="firstname"><br>
          Last Name: <input type="text" id="lastname"><br>          
          <button id="add-patient-button">Add Patient</button>
      </form>
    </script>
    <script type="text/template" id="modal-template">
      <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-header">
          <h2></h2>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </script>
    <script type="text/template" id="login-template">
      <form id="login-form">
        Username: <input type="text" id="username" value="divyaGaur"><br>
        Password: <input type="password" id="password" value="icelemontea"><br>
        <button id="login">Login</button>
      </form>
    </script>
    <script type="text/template" id="revenue-row-template">
      <input type="text" class="patientName  column" id= <%= "'patientId"+rowId+"'" %> data-toggle="tooltip" data-provide="typeahead" autocomplete="off" value= <%= "'"+patientName+"'" %>  valueId= <%= "'"+patientId+"'" %> /> 
 
      <input type="text" class="doctorName column" id= <%= "'doctorId"+rowId+"'" %> data-provide="typeahead" autocomplete="off"  value= <%= "'"+doctorName+"'" %>  valueId= <%= "'"+doctorId+"'" %> />

      <span class="column_prefix">Rs</span>
      <input type="text" class="amount column" autocomplete="off" value= <%= "'"+amount+"'" %> />

      <div class="btn-group">
        <button class="btn btn-small dropdown-toggle paymentTypeName" data-toggle="dropdown" valueId=  <%= "'"+paymentTypeId+"'" %> > <%= paymentTypeName %> <span class="caret"></span></button>
        <ul class="dropdown-menu">
        </ul>
      </div>

      <a href="#" class="delete"><i class="icon-remove delete-row-icon"></i></a>
    </script>
    <script type="text/template" id="revenue-table-template">
      <h2>Revenue</h2>  
      <label class="tableHeaderColumn">Patient</label> 
      <label class="tableHeaderColumn">Doctor</label>
      <label class="tableHeaderColumn">Amount</label>

      <div id="rows-container"></div>
      <button class="btn btn-small new-row" type="button"><i class="icon-plus"></i>Add Row</button>      
      <hr />
      <label  class="total tableHeaderColumn"></label>
      <hr/>
      
    </script>
    <script type="text/template" id="app-template">
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container-fluid">
            <a class="brand" href="#">Clinic Feedback Form</a>

            <div class="nav-collapse collapse">
              <ul class="nav pull-right">
                <li><a href="#">Report Date:</a></li>
                <li id="datetimepicker" class="input-append">
                  <input data-format="dd-MM-yyyy" type="text"></input>
                  <span class="add-on">
                    <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                    </i>
                  </span>
                </li>                
                <li class="divider-vertical"></li> 
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%= userFullname %><b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li id="logout"><a href="#">Logout</a></li>
                  </ul>
                </li> 
                <li class="divider-vertical"></li>                
                <li><a href="#"><%= clinicName %></a></li>
              </ul>
              <ul class="nav">
                <!--<li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>-->
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span2">
          <div class="well" style="padding: 8px 0">
            <ul class="nav nav-list">
              <li id="revenue"><a href="#" ></i>Revenue</a></li>
              <li id="bank-deposits"><a href="#" ></i>Bank Deposits</a></li>
              <li id="expenditure"><a href="#" ></i>Expenditure</a></li>
              <li id="dental-materials-needed-recieved" ><a href="#" ></i>Dental Materials</a></li>              
              <li id="treatments"><a href="#" ></i>Treatments</a></li>
              <li id="patients-feedback"><a href="#" ></i>Patients Feedback</a></li>
              <li id="complaints-or-problems-in-clinic"><a href="#" ></i>Clinic Issues</a></li>
              <li class="divider"></li>
              <li id="submit"><a href="#" ></i>Submit</a></li>
            </ul>
          </div>
          </div><!--/span-->
          <div class="span10">
            <div id="content"><h3>Welcome! Please choose an option on the left!</h3></div>
            <div id ="alert"></div>
          </div><!--/span-->
        </div><!--/row-->

        <hr>

        <footer>
          <p>&copy; Colonels Dental First 2013</p>
        </footer>

      </div><!--/.fluid-container-->
    </script>
    <script type="text/template" id="submit-template">
      <button class="btn btn-primary submit" type="button">Submit</button>
    </script>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Libraries -->
    <script src="./js/lib/underscore.js"></script>
    <script src="./js/lib/jquery.js"></script>
    <script src="./js/lib/backbone.js"></script>
    <script src="./js/lib/bootstrap.js"></script>
    <script src="./js/lib/bootstrap-datetimepicker.min.js"></script>
    <!-- Application -->
    <script src="./js/app/app.js"></script>
    <!-- Router -->
    <script src="./js/app/router.js"></script>
    <!-- Modules -->
    <script src="./js/app/modules/people.js"></script>
    <script src="./js/app/modules/revenue.js"></script>
    <script src="./js/app/modules/infra.js"></script>
    <script src="./js/app/modules/auth.js"></script>

  </body>
</html>