
<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Clinic Feedback Form</a>
            <div class="nav-collapse collapse">
              <ul class="nav pull-right">
                <li><a href="#"><%= date %></a> </li>
                <li><a href="#" class="navbar-link"><%= userName %></a></li>                
                <li><a href="#" class="navbar-link"><%= clinicName %></a></li>                
              </ul>
              <ul class="nav">
                <!--<li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>-->
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span3">
            <div class="well sidebar-nav">
              <ul class="nav nav-list">
                <li class="nav-header">Sections</li>
                <li><a href="#" id="revenue">Revenue</a></li>
                <li><a href="#" id="bank-deposits">Bank Deposits</a></li>
                <li><a href="#" id="expenditure">Expenditure</a></li>
                <li><a href="#" id="dental-materials-needed-recieved">Dental Materials Needed/Received</a></li>
                <li><a href="#" id="patients-feedback">Patients Feedback</a></li>
                <li><a href="#" id="complaints-or-problems-in-clinic">Complaints or Problems in Clinic</a></li>
                <li><a href="#" id="treatments">Treatments</a></li>
                <li><a href="#" id="submit">Submit</a></li>

              </ul>
            </div><!--/.well -->
          </div><!--/span-->
          <div class="span9">
            <div class="content"></div>
          </div><!--/span-->
        </div><!--/row-->

        <hr>

        <footer>
          <p>&copy; Colonels Dental First 2013</p>
        </footer>

      </div><!--/.fluid-container-->